## задача1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas - это df = pd.read_csv("laptopPrice.csv")
Вывести на экран первые 5 строк - это df.head()
Посмотреть на описание признаков и на их содержание
## задача2
Проведите первичный анализ данных
1. Изучите типы данных - это df = pd.read_csv("laptopPrice.csv")
2. Найдите количество пропущенных ячеек в данных - это df.info()
3. Посчитайте основные статистики по всем признакам и поизучайте их- это df.describe()

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("laptopPrice.csv")

In [4]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [6]:
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

## задача 3

Ответьте на несколько вопросов
3.1 Ноутбуков от какой компании больше всего в наборе данных?

3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?

3.3 Какой самый дорогой ноутбук в данных?
Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [ ]:
#3.1 Ноутбуков от какой компании больше всего в наборе данных?
#df.brand.value_counts()
df["brand"].value_counts()

In [ ]:
#3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?
print(f"Самый дорогой ноут имеет цену  {df.Price.max()}" )
print(f"Самый дешевый ноут имеет цену  {df.Price.min()}" )

In [ ]:
# 3.3 Какой самый дорогой ноутбук в данных?
# Выведите все характеристики только по этому ноутбуку
# Если таких ноутбуков несколько, то выводите их всех
df[df.Price == df.Price.max() ]

## задача 4
Ответьте на несколько вопросов
4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:
Компания
Типа ноутбука
Диагональ
Стоимость
Если таких ноутбуков несколько, то выводите их всех
4.2 Сколько стоит самый дорогой ноутбук у компании HP?
4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

### 4.1 Найдите ноутбуки с самой маленькой памятью жесткого диска
Выведите только следующие характеристики:
Компания
Стоимость
Если таких ноутбуков несколько, то выводите их всех

In [ ]:
df[["brand","processor_name","hdd", "Price"]]

In [ ]:
int("1024 GB".split()[0])

In [ ]:
df.hdd.value_counts()

In [ ]:
def get_size(row):
    return int(row["hdd"].split()[0])

In [ ]:
#df["hdd_size"] = int(df["hdd"].split()[0])
df["hdd"] = df.apply(get_size,axis=1)

In [ ]:
df.head()

In [ ]:
#df[["brand","processor_name","hdd", "Price"], (df.hdd == df.hdd.min())   ]
df  [df.hdd == df.hdd.min()]   [["brand","processor_name","hdd", "Price"]]

### 4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [ ]:
df[df["brand"] == "HP"]  #нашли все ноуты от HP

In [ ]:
max_HP = df[df["brand"] == "HP"]["Price"].max()  #Сколько стоит самый дорогой ноутбук у компании HP?
max_HP

In [ ]:
df[ (df["brand"] == "HP") & (df.Price == max_HP)   ]  #хотимм на него взглянуть

In [ ]:
df.rating.value_counts() #взглянули на варианты рейтингов

### задача 4.3
4.3 Как много ноутбуков с 4 звездами рейтинга и  с 8GB RAM и по цене не больше 110 % от медианной цены?

In [ ]:
m = df.Price.median()
m

In [ ]:
df [ (df.rating == "4 stars") & (df.ram_gb == "8 GB") & (df.Price<= m*1.1)]  #взглянули на эти ноутбуки

In [ ]:
df.shape

In [ ]:
count = df [ (df.rating == "4 stars") & (df.ram_gb == "8 GB") & (df.Price<= m*1.1)].shape[0]

In [ ]:
print(f"Процент хороших и недорогих ноуток к общему количеству составляет {round(count / df.shape[0]*100,2)} %")